.section-header {
  font-size: 1.35em;
  margin: 0 0.85rem;
  font-weight: 600;
  align-self: center;
}

.btn-add {
  color: gray;
  font-size: 1.5em;
  text-decoration: none;
  align-self: center;
}

.btn-edit {
  color: gray;
  font-size: 1.5em;
  margin: 0 1rem;
  text-decoration: none;
  align-self: center;
}

.btn-edit:hover, .btn-add:hover {
  color: rgb(1, 189, 247);
  transition: 0.75s;
}