<div class="card">
    <div class="card-header">
      Which is your current education level?
    </div>
    <div class="card-body">
      <form name="form" (ngSubmit)="f.form.valid && next()" #f="ngForm" novalidate>
        <div class="form-group row">
          <div class="col" [ngClass]="{ 'has-error': f.submitted && !grade.valid }">
            <label for="grade">Education level</label>
            <select class="form-control"
                    id="grade"
                    name="grade"
                    [(ngModel)]="profile.grade"
                    #country="ngModel"
                    required>
              <option *ngFor="let grade of grades | async" [value]="grade">
                {{grade}}
              </option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button type="button"
              class="btn btn-outline-primary pull-left"
              (click)="previous()">
        Previous
      </button>
      <button type="button"
              class="btn btn-primary pull-right"
              [disabled]="!f.form.valid"
              (click)="f.ngSubmit.emit()">
        Next
      </button>
    </div>
  </div>
