.filter-head {
  color: #3e515b;
  font-size: 0.9rem;
  font-weight: 500;
  padding-right: 1rem;
  text-decoration: none
}

.filter-title-icon {
  font-size: 0.7rem;
  padding-right: 0.6rem;
}

.fa {
  line-height: 1.8;
}
