<app-collapse-filter class="item" [filterId]="'schoolPreferred'" [title]="'School preferred'">
  <div filter-body style="padding: 1rem 2rem 0 0">
    <label for="preferredSchoolLocation">Location</label>
    <select class="form-control" id="preferredSchoolLocation"
            name="preferredSchoolLocation"
            ngModel
            required>
      <option *ngFor="let state of states | async" [value]="state.name">{{state.name}}</option>
    </select>

    <span style="display:block; height: 0.6rem;"></span>

    <label for="preferredSchoolType">Type</label>
    <select class="form-control" id="preferredSchoolType"
            name="preferredSchoolType"
            ngModel
            required>
      <option *ngFor="let type of types | async" [value]="type">{{type}}</option>
    </select>

    <span style="display:block; height: 0.6rem;"></span>

    <label for="preferredReligion">Religion</label>
    <select class="form-control" id="preferredReligion"
            name="preferredReligion"
            ngModel
            required>
      <option *ngFor="let religion of religions | async" [value]="religion">{{religion}}</option>
    </select>

    <span style="display:block; height: 0.6rem;"></span>

    <label for="preferredAccommodation">Accommodation</label>
    <select class="form-control" id="preferredAccommodation"
            name="preferredAccommodation"
            ngModel
            required>
      <option *ngFor="let accommodation of accommodations | async" [value]="accommodation">{{accommodation}}</option>
    </select>
  </div>
</app-collapse-filter>