<div class="score-range">
  <input type="checkbox" class="custom-control-input"
          id="{{ stdTest.key }}-checkbox"
          data-toggle="collapse" [attr.data-target]="dataTarget"
          aria-expanded="false" [attr.aria-controls]="stdTest.key"
          (change)="rangeChanged.emit()">
  <span class="custom-control-indicator checkbox-indicator"></span>
  <span class="custom-control-description">{{ stdTest.name }}</span>

  <div class="collapse" id="{{ stdTest.key }}">
    <span class="vspace"></span>

    <div class="range-container w-100">
      <input type="number" class="form-control" id="min"
        name="min"
        placeholder="Min"
        (keyup.enter)="rangeChanged.emit()"
        [ngModel]="range.min">

      <span class="hspace"></span>

      <input type="number" class="form-control" id="max"
        name="max"
        placeholder="Max"
        (keyup.enter)="rangeChanged.emit()"
        [ngModel]="range.max">
    </div>
  </div>
</div>