<div class="row">
  <div class="card list-container">
    <p>
      Angular is a framework for building client applications in HTML and either JavaScript or a language like TypeScript that compiles to JavaScript.
      The framework consists of several libraries, some of them core and some optional.
      You write Angular applications by composing HTML templates with Angularized markup, writing component classes to manage those templates, adding application logic in services, and boxing components and services in modules.
      Then you launch the app by bootstrapping the root module. Angular takes over, presenting your application content in a browser and responding to user interactions according to the instructions you've provided.
      Of course, there is more to it than this. You'll learn the details in the pages that follow. For now, focus on the big picture.
      Angular is a framework for building client applications in HTML and either JavaScript or a language like TypeScript that compiles to JavaScript.
      The framework consists of several libraries, some of them core and some optional.
      You write Angular applications by composing HTML templates with Angularized markup, writing component classes to manage those templates, adding application logic in services, and boxing components and services in modules.
      Then you launch the app by bootstrapping the root module. Angular takes over, presenting your application content in a browser and responding to user interactions according to the instructions you've provided.
      Of course, there is more to it than this. You'll learn the details in the pages that follow. For now, focus on the big picture.
      Angular is a framework for building client applications in HTML and either JavaScript or a language like TypeScript that compiles to JavaScript.
      The framework consists of several libraries, some of them core and some optional.
      You write Angular applications by composing HTML templates with Angularized markup, writing component classes to manage those templates, adding application logic in services, and boxing components and services in modules.
      Then you launch the app by bootstrapping the root module. Angular takes over, presenting your application content in a browser and responding to user interactions according to the instructions you've provided.
      Of course, there is more to it than this. You'll learn the details in the pages that follow. For now, focus on the big picture.
      Angular is a framework for building client applications in HTML and either JavaScript or a language like TypeScript that compiles to JavaScript.
      The framework consists of several libraries, some of them core and some optional.
      You write Angular applications by composing HTML templates with Angularized markup, writing component classes to manage those templates, adding application logic in services, and boxing components and services in modules.
      Then you launch the app by bootstrapping the root module. Angular takes over, presenting your application content in a browser and responding to user interactions according to the instructions you've provided.
      Of course, there is more to it than this. You'll learn the details in the pages that follow. For now, focus on the big picture.
      Angular is a framework for building client applications in HTML and either JavaScript or a language like TypeScript that compiles to JavaScript.
      The framework consists of several libraries, some of them core and some optional.
      You write Angular applications by composing HTML templates with Angularized markup, writing component classes to manage those templates, adding application logic in services, and boxing components and services in modules.
      Then you launch the app by bootstrapping the root module. Angular takes over, presenting your application content in a browser and responding to user interactions according to the instructions you've provided.
      Of course, there is more to it than this. You'll learn the details in the pages that follow. For now, focus on the big picture.
    </p>
  </div>
  <div class="filter-container">
    <div class="filter-container-title">Filter student by</div>
    <pre>{{ filterForm.value | json }}</pre>
    <form #filterForm="ngForm">
      <!-- Applying -->
      <app-student-applying-filter (filterChanged)="onFilterChanged()"></app-student-applying-filter>
      <!-- Keywords -->
      <app-student-keywords-filter (filterChanged)="onFilterChanged()"></app-student-keywords-filter>
      <!-- Current grade -->
      <app-grade-filter (filterChanged)="onFilterChanged()"></app-grade-filter>
      <!-- GPA -->
      <app-gpa-filter (filterChanged)="onFilterChanged()"></app-gpa-filter>
      <!-- Standardized Test Scores -->
      <app-std-test-scores-filter (filterChanged)="onFilterChanged()"></app-std-test-scores-filter>
      <!-- School Preferred -->
      <app-school-preferred-filter (filterChanged)="onFilterChanged()"></app-school-preferred-filter>
    </form>
  </div>
</div>