$navbar-height:                       55px !default;

.card {
  margin: 12px 0;
  min-height: calc(100vh - #{$navbar-height} - 24px);
}

.list-container {
  width: 75%;
}

.filter-container {
  width: 25%;
  min-width: 240px;
}

.filter-container-title {
  font-size: 17px;
  font-weight: 400;
  color: #29363d;
  margin: 0.5rem 0rem 1.2rem;
}