<div class="row">
  <div class="card list-container">
    <noe-student-list [students]="students"></noe-student-list>
  </div>
  <div class="filter-container">
    <div class="filter-container-title">Filter student by</div>
    <!-- <pre>{{ filterForm.value | json }}</pre> -->
    <form novalidate #filterForm="ngForm">
      <!-- Applying -->
      <noe-student-applying-filter [filters]="filters" (filterChanged)="onFilterChanged()"></noe-student-applying-filter>
      <!-- Keywords -->
      <noe-student-keywords-filter [filters]="filters" (filterChanged)="onFilterChanged()"></noe-student-keywords-filter>
      <!-- Gender -->
      <noe-student-gender-filter [filters]="filters" (filterChanged)="onFilterChanged()"></noe-student-gender-filter>
      <!-- Current grade -->
      <noe-grade-filter [filters]="filters" (filterChanged)="onFilterChanged()"></noe-grade-filter>
      <!-- GPA -->
      <noe-gpa-filter [filters]="filters" (filterChanged)="onFilterChanged()"></noe-gpa-filter>
      <!-- Standardized Test Scores -->
      <noe-std-test-scores-filter [filters]="filters" (filterChanged)="onFilterChanged()"></noe-std-test-scores-filter>
      <!-- School Preferred -->
      <noe-school-preferred-filter [filters]="filters" (filterChanged)="onFilterChanged()"></noe-school-preferred-filter>
    </form>
  </div>
</div>