$navbar-height:                       55px !default;
$footer-height:                       50px !default;

.card {
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height} - 2rem);
}

.list-container {
  width: 70%;
}

.filter-container {
  width: 25%;
  min-width: 240px;
}

.filter-container-title {
  font-size: 17px;
  font-weight: 400;
  color: #29363d;
  margin: 0.5rem 0rem 1.2rem;
}