.list-container {
  width: 70%;
  padding: 1rem;
}

.filter-container {
  width: 30%;
  min-width: 200px;
  padding: 1rem 1rem 0.5rem 0.5rem;
}

.filter-container-title {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 0;
}

.filter-head {
  padding-right: 1rem;
}

.filter-title {
  display: inline;
}

.fa {
  line-height: 1.6;
}