<div class="d-flex flex-row">
  <a [routerLink]="['students', item._id, 'details']">
    <img [src]="item.avatar" class="img-avatar student-avatar" alt="item.email">
  </a>
  <div class="info-container">
    <div class="row info">
      <div class="col">
        <a class="student-name" [routerLink]="['students', item._id, 'details']">
          {{ studentName }}
        </a>
        <div class="grade-and-school">{{ grade }} {{ school }}</div>
        <div class="student-country">{{ country }}</div>
        <div class="applying">{{ applying }}</div>
      </div>
      <div class="col-auto">
        <button class="btn btn-outline-primary">Connect</button>
      </div>
    </div>
    <hr *ngIf="showDivider">
  </div>
</div>