<noe-dialog #dialog class="dialog" [staticModal]="staticModal">
  <div dialog-title>
    Edit intro
  </div>
  <div dialog-body>
    <form (ngSubmit)="onSubmit()" #introForm="ngForm">
      <div class="row">
        <div class="col">
          <input #avatarInput class="d-none" type="file" accept="image/*" (change)="avatarFileSelected($event)">
          <img-cropper #cropper class="d-none" [image]="data" [settings]="cropperSettings"></img-cropper><br>
          <a class="pointer" (click)="selectImage()">
            <img #avatar class="rounded-circle profile-avatar img-thumbnail mx-auto d-block" [src]="imageData" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
          </a>
        </div>
      </div>

      <!-- name -->
      <div class="form-group row">
        <div class="col-12 mb-3">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                  name="name"
                  [(ngModel)]="model.name"
                  #name="ngModel"
                  required>
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Company name is required
          </div>
        </div>

        <div class="col-4 mb-3">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email"
                  required
                  [(ngModel)]="model.email" name="email"
                  #email="ngModel">
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Email is required
          </div>
        </div>
        <div class="col-4 mb-3">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" id="phone"
                  required
                  [(ngModel)]="model.phone" name="phone"
                  #phone="ngModel">
          <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
            Phone is required
          </div>
        </div>
        <div class="col-4 mb-3">
          <label for="ein">EIN</label>
          <input type="text" class="form-control" id="ein"
                  required
                  [(ngModel)]="model.ein" name="ein"
                  #ein="ngModel">
          <div [hidden]="ein.valid || ein.pristine" class="alert alert-danger">
            EIN is required
          </div>
        </div>
        <div class="col-4 mb-3">
          <label for="street">Street</label>
          <input type="text" class="form-control" id="street"
                  required
                  [(ngModel)]="model.street" name="street"
                  #street="ngModel">
          <div [hidden]="street.valid || street.pristine" class="alert alert-danger">
            Street is required
          </div>
        </div>
        <div class="col-4 mb-3">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city"
                  required
                  [(ngModel)]="model.city" name="city"
                  #city="ngModel">
          <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
            City is required
          </div>
        </div>
        <div class="col-4 mb-3">
          <label for="state">State</label>
          <input type="text" class="form-control" id="state"
                  required
                  [(ngModel)]="model.state" name="state"
                  #state="ngModel">
          <div [hidden]="state.valid || state.pristine" class="alert alert-danger">
            State is required
          </div>
        </div>
        <div class="col-4 mb-3">
          <label for="zipcode">Zip code</label>
          <input type="text" class="form-control" id="zipcode"
                  required
                  [(ngModel)]="model.zipcode" name="zipcode"
                  #zipcode="ngModel">
          <div [hidden]="zipcode.valid || zipcode.pristine" class="alert alert-danger">
            Zip code is required
          </div>
        </div>
        <div class="col-4 mb-3">
          <label for="country">Country</label>
          <input type="text" class="form-control" id="country"
                  required
                  [(ngModel)]="model.country" name="country"
                  #country="ngModel">
          <div [hidden]="country.valid || country.pristine" class="alert alert-danger">
            Country is required
          </div>
        </div>

        <div class="col-12">
          <label for="introduction">Introduction</label>
          <textarea id="introduction" class="form-control" rows="7"
                  name="introduction"
                  [(ngModel)]="model.introduction"
                  placeholder="Write something to introduce your company..."
                  required>
          </textarea>
        </div>
      </div>

    </form>
  </div>
  <div dialog-footer>
    <button type="submit" class="btn btn-primary"
            [disabled]="!introForm.form.valid"
            (click)="introForm.ngSubmit.emit()">
      Save
    </button>
  </div>
</noe-dialog>
