<section id="cover">
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col">
        <div class="company-name">Network of Education</div>
        <div class="company-slogan">
          "Link the best education services to everyone."
        </div>
      </div>
    </div>
  </div>
</section>

<section id="features">
  <div class="section-features">
    <div class="container">
      <h2 class="heading js-wp-1">What
        <span class="bold-blue">NOE</span> can do?
      </h2>

      <div class="row">
        <div class="col-sm-4 square js-wp-2">
          <i class="fa fa-users fa-5x"></i>
          <hr class="blue-hr">
          <p>Find the people who want to go to the restaurant but don't want to go alone.</p>
        </div>
        <div class="col-sm-4 square js-wp-4">
          <i class="fa fa-cutlery fa-5x"></i>
          <hr class="blue-hr">
          <p>Schedule the dinner and eat together in your favorite restaurant with the person you like.</p>
        </div>
        <div class="col-sm-4 square js-wp-4">
          <i class="fa fa-smile-o fa-5x"></i>
          <hr class="blue-hr">
          <p>Make friends with people through the dinner and share good eating places.</p>
        </div>
      </div>
      <!-- ROW -->
    </div>
    <!-- CONTAINER -->
  </div>
  <!-- SECTION-FEATURES -->
</section>

<section id="guides">
  <div class="section-guides">
    <div class="container">
      <h2 class="heading">How to use
        <span class="bold-blue">NOE</span>?</h2>

      <ul class="guides">
        <li>
          <div class="guidance-badge">1</div>
          <div class="guidance-panel">
            <div class="guidance-heading">
              <h4 class="guidance-title">User Registration</h4>
            </div>
            <div class="guidance-body">
              <p>Open this web page or install NOE app on your mobile device. Sign up as a new RestP user if you first use
                it for the first time. Otherwise login in with your existing account.</p>
            </div>
          </div>
        </li>
        <li class="guidance-inverted">
          <div class="guidance-badge">2</div>
          <div class="guidance-panel">
            <div class="guidance-heading">
              <h4 class="guidance-title">Find &amp; Respond to Invitations</h4>
            </div>
            <div class="guidance-body">
              <p>The app shows a list of invitations for dinner. Each one contains details of its inviter and target restaurant.
                Add filters and pick your interested invitation. You will be accepted if the inviter like you too.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="guidance-badge">3</div>
          <div class="guidance-panel">
            <div class="guidance-heading">
              <h4 class="guidance-title">Create Your Invitation</h4>
            </div>
            <div class="guidance-body">
              <p>You can also create your invitation that will be visible to others. When your invitation is responded by someone,
                you'll get notified to decide whether to accept or decline this person by checking his/her profile and rating.</p>
            </div>
          </div>
        </li>
        <li class="guidance-inverted">
          <div class="guidance-badge">4</div>
          <div class="guidance-panel">
            <div class="guidance-heading">
              <h4 class="guidance-title">Have Dinner Together</h4>
            </div>
            <div class="guidance-body">
              <p>After the invitation is done, you can go to the target restaurant, meet, talk and share your favorite food
                with your dinner partner(s). </p>
            </div>
          </div>
        </li>
        <li>
          <div class="guidance-badge">5</div>
          <div class="guidance-panel">
            <div class="guidance-heading">
              <h4 class="guidance-title">Rate Each Other</h4>
            </div>
            <div class="guidance-body">
              <p>Have dinner and make friends with your partner. After the dinner, you can rate each other. Higher rating gives
                you better chance to be selected in the next run, so be nice and make every dinner a pleasant time! :-)</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- <section id="apps">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mobile-app-img">
      </div>
      <div class="col-sm-6 mobile-app-downloads">
        <h2 class="heading">Have food together.</h2>
        <p class="lead get-the-app">Get the app.</p>
        <div class="container">
          <a class="col-sm-6 store" href="https://itunes.apple.com/us/app/foodler-food-delivery-takeout/id615802139" title="Download on the Apple App Store">
            <img src="assets/img/app-store-badge.svg" class="store-apple store-btn">
          </a>
          <a class="col-sm-6 store" href="https://play.google.com/store/apps/details?id=com.foodler.android.foodlerapp" title="Get it on Google Play">
            <img src="assets/img/google-play-badge.svg" class="store-google store-btn">
          </a>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="testimonials">
  <div class="section-testimonials">
    <div class="container">
      <h2 class="heading">Clients'
        <span class="bold-blue">tesimonials</span>
      </h2>
      <div class="row">
        <div class="col-sm-4">
          <div class="row testimonial">
            <div class="col-sm-3">
              <img src="assets/img/landon.jpg" class="landon-img">
            </div>
            <div class="col-sm-9">
              <blockquote>
                <i class="fa fa-quote-right"></i>Share nice food with people you like! Love it!
                <hr class="testimonials-hr">
                <cite>&#8212; Landon Mccoy,
                  <br>college student</cite>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row testimonial">
            <div class="col-sm-3">
              <img src="assets/img/claudia.jpg" class="claudia-img">
            </div>
            <div class="col-sm-9">
              <blockquote>
                <i class="fa fa-quote-right"></i>Experience with NOE has been easy and excellent! I would highly recommend it!
                <hr class="testimonials-hr">
                <cite>&#8212; Claudia Jennings,
                  <br>web designer</cite>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row testimonial">
            <div class="col-sm-3">
              <img src="assets/img/max.jpg" class="max-img">
            </div>
            <div class="col-sm-9">
              <blockquote>
                <i class="fa fa-quote-right"></i>NOE app has created a simplified but fun experience, with convenience to find the best eating places
                with someone else.
                <hr class="testimonials-hr">
                <cite>&#8212; Max King,
                  <br>managing director</cite>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
