<dialog class="dialog" #dialog [staticModal]="staticModal" [large]="false">
  <div dialog-title>
    {{ title }}
  </div>
  <div dialog-body>
    <div class="row">
      <div class="col-auto">
        <button class="btn btn-primary" (click)="selectApplyingFiles()">Upload</button>
        <input #applyingFileInput id="applying-file-input" type="file" multiple (change)="applyingFilesSelected($event)">
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" style="margin-top: 0.75rem">
        <tbody>
          <tr *ngFor="let uploading of uploadings">
            <td width="75%">
              <small>{{ uploading.filename }}</small>
              <progressbar class="progress-striped active" [value]="uploading.progress" type="success">
                <b>{{ uploadingProgress(uploading) }}</b>
              </progressbar>
            </td>
            <td width="25%">
              <a class="btn btn-default cancel-btn pull-right" href (click)="cancelUploading($event, uploading)">
                Cancel
              </a>
            </td>
          </tr>
          <tr *ngFor="let applyingFile of applyingFiles; trackBy: trackByKey">
            <td width="75%">
              <a [attr.href]="fileUrlFrom(applyingFile)" class="applying-file-link">{{ filenameFrom(applyingFile) }}</a>
            </td>
            <td width="25%">
              <a class="btn btn-danger remove-btn pull-right" href (click)="removeApplyingFile($event, applyingFile)">
                Remove
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!hasApplyingFile()">No applying materials available.</div>
  </div>
  <div dialog-footer>
    <button class="btn btn-primary" (click)="onClose()">Close</button>
  </div>
</dialog>