<dialog class="dialog" #dialog [staticModal]="staticModal">
  <div dialog-title>
    Edit intro
  </div>
  <div dialog-body>
    <form (ngSubmit)="onSubmit()" #introForm="ngForm">
      <div class="row">
        <div class="col">
          <input #avatarInput id="avatar-input" type="file" accept="image/*" (change)="avatarFileSelected($event)">
          <img-cropper #cropper id="img-cropper" [image]="data" [settings]="cropperSettings"></img-cropper><br>
          <a class="pointer" (click)="selectImage()">
            <img #avatar class="rounded-circle profile-avatar mx-auto d-block" [src]="imageData" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
          </a>
        </div>
      </div>

      <!-- firstname and lastname -->
      <div class="form-group row">
        <div class="col">
          <label for="firstname">Firstname</label>
          <input type="text" class="form-control" id="firstname"
                  required
                  [(ngModel)]="model.firstname" name="firstname"
                  #firstname="ngModel">
          <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
            Firstname is required
          </div>
        </div>
        <div class="col">
          <label for="lastname">Lastname</label>
          <input type="text" class="form-control" id="lastname"
                  required
                  [(ngModel)]="model.lastname" name="lastname"
                  #lastname="ngModel">
          <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
            Lastname is required
          </div>
        </div>
      </div>

      <!-- current education and school  -->
      <div class="form-group row">
        <div class="col">
          <label for="grade">Current grade</label>
          <select class="form-control" id="grade"
                  required
                  [(ngModel)]="model.grade" name="grade"
                  #grade="ngModel">
            <option *ngFor="let grade of grades | async" [value]="grade">{{grade}}</option>
          </select>
          <div [hidden]="grade.valid || grade.pristine" class="alert alert-danger">
            Current grade is required
          </div>
        </div>
        <div class="col">
          <label for="school">Current school</label>
          <input type="text" class="form-control" id="school"
                  required
                  [(ngModel)]="model.school" name="school"
                  #school="ngModel">
          <div [hidden]="school.valid || school.pristine" class="alert alert-danger">
            Current school is required
          </div>
        </div>
      </div>

      <!-- email, phone, applying -->
      <div class="form-group row">
        <div class="col">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email"
                  required
                  [(ngModel)]="model.email" name="email"
                  #email="ngModel">
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Email is required
          </div>
        </div>
        <div class="col">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" id="phone"
                  required
                  [(ngModel)]="model.phone" name="phone"
                  #phone="ngModel">
          <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
            Phone is required
          </div>
        </div>
        <div class="col">
          <label for="applying">Applying</label>
          <select class="form-control" id="applying"
                  required
                  [(ngModel)]="model.applying" name="applying"
                  #applying="ngModel">
            <option *ngFor="let grade of grades | async" [value]="grade">{{grade}}</option>
          </select>
          <div [hidden]="applying.valid || applying.pristine" class="alert alert-danger">
            Applying grade is required
          </div>
        </div>
      </div>

      <!-- dob, gender and country -->
      <div class="form-group row">
        <div class="col">
          <label for="birthday">Birthday</label>
          <input type="text" class="form-control" id="birthday"
                  required
                  bsDatepicker [bsConfig]="bsConfig"
                  [(ngModel)]="model.birthday" name="birthday"
                  #birthday="ngModel">
          <div [hidden]="birthday.valid || birthday.pristine" class="alert alert-danger">
            Birthday is required
          </div>
        </div>
        <div class="col">
          <label for="gender">Gender</label>
          <select class="form-control" id="gender"
                  required
                  [(ngModel)]="model.gender" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <div class="col">
          <label for="country">Country</label>
          <select class="form-control" id="country"
                  [(ngModel)]="model.country" name="country"
                  #country="ngModel">
            <option *ngFor="let country of countries | async" [value]="country.name">{{country.name}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-4">
          <label for="budget">Annual budget</label>
          <input type="number" class="form-control" id="budget"
                  required
                  [(ngModel)]="model.budget" name="budget"
                  #budget="ngModel">
          <div [hidden]="budget.valid || budget.pristine" class="alert alert-danger">
            Annual budget is required
          </div>
        </div>
        <div class="col-4">
          <label for="gpa">GPA</label>
          <input type="number" class="form-control" id="gpa"
                  required
                  [(ngModel)]="model.gpa" name="gpa"
                  #gpa="ngModel">
          <div [hidden]="gpa.valid || gpa.pristine" class="alert alert-danger">
            GPA is required
          </div>
        </div>
      </div>

      <!-- introduction -->
      <div class="form-group row">
        <div class="col">
          <label for="introduction">Introduction</label>
          <textarea id="introduction" class="form-control" rows="8"
                  required
                  [(ngModel)]="model.introduction" name="introduction"
                  placeholder="Enter your self-introduction...">
          </textarea>
        </div>
      </div>

    </form>
  </div>
  <div dialog-footer>
    <button type="submit" class="btn btn-primary"
            [disabled]="!introForm.form.valid"
            (click)="introForm.ngSubmit.emit()">
      Save
    </button>
  </div>
</dialog>
