<noe-dialog class="dialog" #dialog [staticModal]="staticModal" [large]="false">
  <div dialog-title>
    Edit passport scans
  </div>
  <div dialog-body>
    <div class="row">
      <div class="col-auto">
        <button class="btn btn-primary" (click)="addPassportScans()">Upload</button>
        <input #passportScanInput id="passport-scan-input" type="file" multiple accept="image/*" (change)="passportScansSelected($event)">
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" style="margin-top: 0.75rem">
        <tbody>
          <tr *ngFor="let uploading of uploadings; trackBy: index">
            <td width="75%">
              <small>{{ uploading.filename }}</small>
              <progressbar class="progress-striped active" [value]="uploading.progress" type="success">
                <b>{{ uploadingProgress(uploading) }}</b>
              </progressbar>
            </td>
            <td width="25%">
              <a class="btn btn-default cancel-btn pull-right" href (click)="cancelUploading($event, uploading)">
                Cancel
              </a>
            </td>
          </tr>
          <tr *ngFor="let passportScan of passportScans; trackBy: trackByKey">
            <td width="75%">
              <img [src]="fileUrlFrom(passportScan)" class="passport-scan rounded" alt="Passport Scan">
            </td>
            <td width="25%">
              <a class="btn btn-danger remove-btn" href (click)="removePassportScan($event, passportScan)">
                Remove
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!hasPassport()">No passport scan available.</div>
  </div>
  <div dialog-footer>
    <button class="btn btn-primary" (click)="onClose()">Close</button>
  </div>
</noe-dialog>