<div class="card my-4">
  <div class="card-block">
    <noe-section [showAdd]="false" [showEdit]="false">
      <hr class="mt-3 mb-4">
      <table class="table">
        <tbody>
          <tr>
            <td class="w-32 td-no-border">
              <img class="business-img" [src]="model.avatar"/>
            </td>
            <td class="w-68 td-no-border business-info">
              <div>
                <h4>{{ name }}</h4>
                <div *ngIf="location.length > 0" class="location"><i class="fa fa-location-arrow location-icon" aria-hidden="true"></i>{{ location }}</div>
              </div>
              <div class="summary">{{ summary }}</div>
              <div>
                <div class="business-price-container">
                  <span class="price-title">Price</span>
                  <span class="price">{{ price }}</span>
                </div>
                <button *ngIf="!ordered"
                        class="btn btn-primary btn-lg btn-order"
                        [disabled]="ordering"
                        (click)="onOrder()">
                  <span *ngIf="ordering"><i class="fa fa-circle-o-notch fa-spin mr-1"></i>Processing Order</span>
                  <span *ngIf="!ordering">Order</span>
                </button>
                <div *ngIf="ordered" class="alert alert-success d-flex flex-column justify-content-center" role="alert">
                  <p class="m-1">You have successfully ordered this service!</p>
                  <p class="m-1">You can order it again after you have enjoyed this service.</p>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </noe-section>

    <noe-section [showAdd]="false" [showEdit]="false">
      <hr class="mt-4">
      <div [innerHTML]="content | safeHtml"></div>
    </noe-section>
  </div>
</div>