<div class="card">
  <div class="card-block">
    <noe-section [showAdd]="false" [showEdit]="false">
      <hr class="mt-3 mb-3">
      <table class="table mb-5">
        <tbody>
          <tr>
            <td class="w-32 td-no-border">
              <img class="business-img" [src]="model.avatar"/>
            </td>
            <td class="w-68 td-no-border business-info">
              <div>
                <div class="name">{{ name }}</div>
                <div *ngIf="location.length > 0" class="location"><i class="fa fa-location-arrow location-icon" aria-hidden="true"></i>{{ location }}</div>
              </div>
              <div class="summary">{{ summary }}</div>
              <div class="d-flex flex-row">
                <div class="business-price-container">
                  <span class="price-title">Price</span>
                  <span class="price">{{ price }}</span>
                </div>
                <button *ngIf="!ordered"
                        class="btn btn-primary btn-lg btn-order"
                        [disabled]="ordering"
                        (click)="order()">
                  <span *ngIf="ordering"><i class="fa fa-circle-o-notch fa-spin mr-1"></i>Processing</span>
                  <span *ngIf="!ordering">Order</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </noe-section>

    <noe-section [showAdd]="false" [showEdit]="false">
      <div [innerHTML]="content | safeHtml"></div>
    </noe-section>
  </div>
</div>