<div class="item-container">
  <a [routerLink]="itemLink(item)">
    <img [src]="item.avatar" class="item-avatar rounded-top" alt="item.email">
  </a>
  <div class="d-flex flex-column justify-content-center rounded-bottom item-info-container">
    <div class="d-inline-block">
      <span class="item-price">{{ price }}</span>
      <span class="item-orders-count float-right">{{ numberOfOrders }}</span>
    </div>
    <a class="item-name" [routerLink]="itemLink(item)">{{ name }}</a>
  </div>
</div>