$navbar-height:                   55px !default;

.card {
  padding: 0 0.5rem;
  margin: 12px 0;
  min-height: calc(100vh - #{$navbar-height} - 24px);
}

.loading-placeholder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-content: center;

  .loading-prompt {
    font-size: 1rem;
    margin-bottom: 3rem;
  }
}