<div class="row pagination-container">
  <a href class="col-auto pagination-nav"
          [ngClass]="{ 'hidden': hidePrevious() }"
          (click)="selectPage($event, page - 1)">
    <span><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</span>
  </a>
  <ol class="col-auto">
    <li *ngFor="let page of pages">
      <a class="page-number" [ngClass]="{ 'page-number-selected': isPageSelected(page) }"
              href (click)="selectPage($event, page)">{{ page }}</a>
    </li>
  </ol>
  <a href class="col-auto pagination-nav"
          [ngClass]="{ 'hidden': hideNext() }"
          (click)="selectPage($event, page + 1)">
    <span>Next <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
  </a>
</div>