<div class="item-container d-flex flex-row mb-3">
  <a href (click)="navigateToDetail($event)">
    <div class="avatar-container">
      <img [src]="business.avatar" class="rounded" alt="business.name">
    </div>
  </a>
  <div class="d-flex flex-row ml-3">
    <div class="d-flex flex-column">
      <a href class="business-name" (click)="navigateToDetail($event)">
        {{ businessName }}
      </a>
      <span class="d-flex flex-row align-items-center py-1">
        <div class="order-price">{{ orderPrice }}</div>
        <div [ngSwitch]="orderStatus">
          <span *ngSwitchCase="'created'"
                class="badge badge-primary order-status">Ordered</span>
          <span *ngSwitchCase="'paid'"
                class="badge badge-success order-status">Paid</span>
          <span *ngSwitchCase="'canceled'"
                class="badge badge-warning order-status">Canceled</span>
          <span *ngSwitchCase="'refunded'"
                class="badge badge-default order-status">Refunded</span>
        </div>
      </span>
      <div class="business-summary">{{ businessSummary }}</div>
    </div>
    <div class="vertical-divider mx-3"></div>
    <div class="actions">
      <button class="btn btn-success mb-2"
              *ngIf="showPay()"
              (click)="pay()">
        Pay
      </button>
      <button class="btn btn-outline-primary mb-2"
              (click)="contact()">
        Contact
      </button>
      <button class="btn btn-default mb-2"
              *ngIf="showRefund()"
              (click)="refund()">
        Refund
      </button>
      <button class="btn btn-outline-warning mb-2"
              *ngIf="showCancel()"
              (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>

  <div *ngIf="handlingOrderAction" class="loading">
    <i class="fa fa-spinner fa-spin"></i>
  </div>
</div>

<hr *ngIf="showDivider">