<div class="card">
  <div class="card-block">
    <noe-section [header]="'My Profile'" [showAdd]="false" (onEdit)="onEditIntro()">
      <hr class="mt-3 pb-2">
      <div class="row">
        <div class="col-4 mb-3">
          <div class="row">
            <div class="col">
              <img class="rounded-circle profile-avatar img-thumbnail mx-auto d-block" [src]="profile.avatar" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h4 class="profile-name d-block text-truncate" placement="top" triggers="hover"
                  [popover]="profile.firstname +' ' + profile.lastname">{{ profile.firstname }} {{ profile.lastname }}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h6 class="current-grade d-block text-truncate" placement="top" triggers="hover"
                    [popover]="profile.grade + ' Student'">{{ profile.grade }} Student</h6>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h6 class="current-school-name d-block text-truncate" placement="top" triggers="hover"
                    [popover]="profile.school">{{ profile.school }}</h6>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
              <span class="row property-title">Email:</span>
              <span class="row py-1 d-block text-truncate" placement="left" triggers="hover"
                    [popover]="profile.email">{{ profile.email }}</span>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
              <span class="row property-title">Phone:</span>
              <span class="row py-1 d-block text-truncate" placement="left" triggers="hover"
                    [popover]="profile.phone">{{ profile.phone }}</span>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
              <span class="row property-title">Applying:</span>
              <span class="row py-1 d-block text-truncate" placement="left" triggers="hover"
                    [popover]="profile.applying">{{ profile.applying }}</span>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
              <span class="row property-title">Birthday:</span>
              <span class="row py-1 d-block text-truncate" placement="left" triggers="hover"
                    [popover]="profile.birthday | date:'shortDate'">{{ profile.birthday | date:'shortDate' }}</span>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
              <span class="row property-title">Gender:</span>
              <span class="row py-1 d-block text-truncate" placement="left" triggers="hover"
                    [popover]="profile.gender | capitalize">{{ profile.gender | capitalize }}</span>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
              <span class="row property-title">Country:</span>
              <span class="row py-1 d-block text-truncate" placement="left" triggers="hover"
                    [popover]="profile.country">{{ profile.country }}</span>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
              <span class="row property-title">Annual budget:</span>
              <span class="row py-1 d-block text-truncate" placement="left" triggers="hover"
                    [popover]="'$' + profile.budget">${{ profile.budget }}</span>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
              <span class="row property-title">GPA:</span>
              <span class="row py-1 d-block text-truncate" placement="left" triggers="hover"
                    [popover]="profile.gpa">{{ profile.gpa }}</span>
            </div>
          </div>
          <div class="row mr-2">
            <div class="col mb-2">
              <span class="row property-title">Introduction:</span>
              <span class="row py-1">{{ profile.introduction }}</span>
            </div>
          </div>
        </div>
      </div>
    </noe-section>

    <noe-intro-dialog #introDialog></noe-intro-dialog>

    <div class="my-3"></div>

    <ul class="nav nav-tabs">
      <li *ngFor="let i of [0, 1]" class="nav-item">
        <a class="nav-link"
           [ngClass]="{ 'active': isTabSelected(i) }"
           (click)="selectTab(i)">
          {{ tabNames[i] }}
        </a>
      </li>
    </ul>

    <noe-about-myself *ngIf="isTabSelected(0)"></noe-about-myself>
    <noe-my-orders *ngIf="isTabSelected(1)"></noe-my-orders>

    <!-- <tabset #staticTabs>
      <tab [active]="isTabSelected(0)"
          (select)="selectTab(0)"
          [customClass]="'tab'">
        <ng-template tabHeading>
          <span class="tab-heading">About Myself</span>
        </ng-template>
        <router-outlet name="about"></router-outlet>
      </tab>
      <tab [active]="isTabSelected(1)"
          (select)="selectTab(1)"
          [customClass]="'tab'">
        <ng-template tabHeading>
          <span class="tab-heading">My Orders</span>
        </ng-template>

      </tab>
    </tabset> -->

  </div>
</div>

<!-- <div class="card">
  <div class="card-block">
    <noe-section [header]="'School Preferred'" [showAdd]="false" (onEdit)="onEditSchoolPreferred()">
      <hr class="mt-3">

      <div class="table-responsive">
        <table class="table borderless">
          <tbody>
            <tr>
              <td class="profile-property">
                <span class="property-title">Location:</span>{{ profile.preferredSchoolLocation }}
              </td>
              <td class="profile-property">
                <span class="property-title">Type:</span>{{ profile.preferredSchoolType }}
              </td>
              <td class="profile-property">
                <span class="property-title">Religion:</span>{{ profile.preferredReligion }}
              </td>
            </tr>
            <tr>
              <td class="profile-property">
                <span class="property-title">Accommodation:</span>{{ profile.preferredAccommodation }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </noe-section>
  </div>

  <noe-school-preferred-dialog #schoolPreferredDialog></noe-school-preferred-dialog>
</div>

<div class="card">
  <div class="card-block">
    <noe-section [header]="'Standard Test Scores'" [showAdd]="false" (onEdit)="onEditStdTestScores()">
      <hr class="mt-3">

      <div class="table-responsive">
        <table class="table borderless">
          <tbody>
            <tr>
              <td class="profile-property">
                <span class="property-title">iTep:</span>{{ profile.itep }}
              </td>
              <td class="profile-property">
                <span class="property-title">SLEP:</span>{{ profile.slep }}
              </td>
              <td class="profile-property">
                <span class="property-title">TOEFL Jr.:</span>{{ profile.toefljr }}
              </td>
            </tr>
            <tr>
              <td class="profile-property">
                <span class="property-title">TOEFL:</span>{{ profile.toefl }}
              </td>
              <td class="profile-property">
                <span class="property-title">SSAT:</span>{{ profile.ssat }}
              </td>
              <td class="profile-property">
                <span class="property-title">IELTS:</span>{{ profile.ielts }}
              </td>
            </tr>
            <tr>
              <td class="profile-property">
                <span class="property-title">GRE:</span>{{ profile.gre }}
              </td>
              <td class="profile-property">
                <span class="property-title">GMAT:</span>{{ profile.gmat }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </noe-section>
  </div>

  <noe-std-test-score-dialog #stdTestScoreDialog></noe-std-test-score-dialog>
</div>

<div class="card">
  <div class="card-block">
    <noe-section [header]="'Skills'" [showAdd]="true" (onAdd)="onAddNewSkill()" (onEdit)="onEditSkills()">
      <hr class="mt-3">

      <div class="row">
        <div class="col-auto profile-skill" *ngFor="let skill of profile.skills">{{ skill }}</div>
        <div class="col-auto" *ngIf="!hasSkills">No skills data available.</div>
      </div>
    </noe-section>
  </div>

  <noe-skill-add-dialog #skillAddDialog></noe-skill-add-dialog>
  <noe-skill-edit-dialog #skillEditDialog></noe-skill-edit-dialog>

  <div class="card-block">
    <noe-section [header]="'Interests'" [showAdd]="true" (onAdd)="onAddNewInterest()" (onEdit)="onEditInterests()">
      <hr class="mt-3">

      <div class="row">
        <div class="col-auto profile-interest" *ngFor="let interest of profile.interests">{{ interest }}</div>
        <div class="col-auto" *ngIf="!hasInterests">No interests data available.</div>
      </div>
    </noe-section>

    <noe-interest-add-dialog #interestAddDialog></noe-interest-add-dialog>
    <noe-interest-edit-dialog #interestEditDialog></noe-interest-edit-dialog>
  </div>
</div>

<div class="card">
  <div class="card-block">
    <noe-section [header]="'Passport Scans'" [showAdd]="false" (onEdit)="onEditPassportScans()">
      <hr class="mt-3">

      <div class="row">
        <div class="col">
          <div *ngFor="let passportScan of passportScans; trackBy: trackByKey">
            <img [src]="fileUrlFrom(passportScan)" class="passport-scan rounded pull-left" alt="Passport Scan">
          </div>
          <div class="required-materials" *ngIf="!hasPassportScans">Passport scans are required.</div>
        </div>
      </div>
    </noe-section>

    <noe-applying-file-edit-dialog #passportScanEditDialog
        [title]="'Edit passport scans'"
        [type]="'passport-scans'"
        [accept]="'image/*'">
    </noe-applying-file-edit-dialog>
  </div>

  <div class="card-block">
    <noe-section [header]="'Recommend Letters'" [showAdd]="false" (onEdit)="onEditRecommendLetters()">
      <hr class="mt-3">

      <div class="row">
        <div class="col-auto preview-container" *ngFor="let recommendation of recommendations; trackBy: trackByKey">
          <a [attr.href]="fileUrlFrom(recommendation)" class="file-name d-inline-block text-truncate">{{ nameOfApplyingFile(recommendation) }}</a>
          <div class="pdf-viewer-container">
            <pdf-viewer class="pdf-viewer"
                        [src]="fileUrlFrom(recommendation)"
                        [page]="1"
                        [stick-to-page]="true"
                        [show-all]="false"
                        [render-text]="false"
                        [original-size]="false"
                        [external-link-target]="'blank'">
            </pdf-viewer>
          </div>
        </div>
        <div class="col required-materials" *ngIf="!hasRecommendations">Recommend letters are required.</div>
      </div>
    </noe-section>

    <noe-applying-file-edit-dialog #recommendationEditDialog
            [title]="'Edit recommend letter'"
            [type]="'recommendations'">
    </noe-applying-file-edit-dialog>
  </div>

  <div class="card-block">
    <noe-section [header]="'Transcripts'" [showAdd]="false" (onEdit)="onEditTranscripts()">
      <hr class="mt-3">

      <div class="row">
        <div class="col-auto" *ngFor="let transcript of transcripts; trackBy: trackByKey">
          <a [attr.href]="fileUrlFrom(transcript)" class="file-name d-inline-block text-truncate">{{ nameOfApplyingFile(transcript) }}</a>
          <div class="pdf-viewer-container">
            <pdf-viewer class="pdf-viewer"
                        [src]="fileUrlFrom(transcript)"
                        [page]="1"
                        [stick-to-page]="true"
                        [show-all]="false"
                        [render-text]="false"
                        [original-size]="false"
                        [external-link-target]="'blank'">
            </pdf-viewer>
          </div>
        </div>
        <div class="col required-materials" *ngIf="!hasTranscripts">Transcripts are required.</div>
      </div>
    </noe-section>

    <noe-applying-file-edit-dialog #transcriptEditDialog
            [title]="'Edit transcripts'"
            [type]="'transcripts'">
    </noe-applying-file-edit-dialog>
  </div>

  <div class="card-block">
    <noe-section [header]="'Financial Info Documents'" [showAdd]="false" (onEdit)="onEditFinancialInfoDocs()">
      <hr class="mt-3">

      <div class="row">
        <div class="col-auto" *ngFor="let financialInfoDoc of financialInfoDocs; trackBy: trackByKey">
          <a [attr.href]="fileUrlFrom(financialInfoDoc)" class="file-name d-inline-block text-truncate">{{ nameOfApplyingFile(financialInfoDoc) }}</a>
          <div class="pdf-viewer-container">
            <pdf-viewer class="pdf-viewer"
                        [src]="fileUrlFrom(financialInfoDoc)"
                        [page]="1"
                        [stick-to-page]="true"
                        [show-all]="false"
                        [render-text]="false"
                        [original-size]="false"
                        [external-link-target]="'blank'">
            </pdf-viewer>
          </div>
        </div>
        <div class="col required-materials" *ngIf="!hasFinancialInfoDocs">Financial info documents are required.</div>
      </div>
    </noe-section>

    <noe-applying-file-edit-dialog #financialInfoDocEditDialog
            [title]="'Edit financial info documents'"
            [type]="'financial-info-docs'">
    </noe-applying-file-edit-dialog>
  </div>

  <div class="card-block">
    <noe-section [header]="'Supplements'" [showAdd]="false" (onEdit)="onEditSupplements()">
      <hr class="mt-3">

      <div class="row">
        <div class="col-auto" *ngFor="let supplement of supplements; trackBy: trackByKey">
          <a [attr.href]="fileUrlFrom(supplement)" class="file-name d-inline-block text-truncate">{{ nameOfApplyingFile(supplement) }}</a>
          <div class="pdf-viewer-container">
            <pdf-viewer class="pdf-viewer"
                        [src]="fileUrlFrom(supplement)"
                        [page]="1"
                        [stick-to-page]="true"
                        [show-all]="false"
                        [render-text]="false"
                        [original-size]="false"
                        [external-link-target]="'blank'">
            </pdf-viewer>
          </div>
        </div>
        <div class="col" *ngIf="!hasSupplements">Add more application supplements (If needed). </div>
      </div>
    </noe-section>

    <noe-applying-file-edit-dialog #supplementEditDialog
            [title]="'Edit supplements'"
            [type]="'supplements'">
    </noe-applying-file-edit-dialog>
  </div>
</div> -->
