$navbar-height:                       55px !default;
$footer-height:                       50px !default;

.card {
  padding: 0 0.75rem;
  margin-top: 1rem;
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height} - 2.5rem);
}

.card-block {
  display: flex;
  flex-direction: column;
}

.profile-avatar {
  width: 140px;
  height: 140px;
  margin-bottom: 1.25rem;
}

.profile-name {
  text-align: center;
}

.current-grade {
  color: gray;
  text-align: center;
  padding: 0.3rem 0 0 0;
}

.current-school-name {
  color: gray;
  text-align: center;
  padding: 0.1rem 0 0 0;
}

.row-fluid{
  white-space: nowrap;
}
.row-fluid .col-lg-4 {
  display: inline-block;
}

.borderless td, .borderless th {
  border: none;
}

.property-title {
  font-weight: 600;
  flex: auto;
}

.nav-item {
  font-size: 1rem;
  font-weight: 500;
  padding: 0 0.5rem;
  cursor: pointer;
}

.tab-content {
  padding: 1rem 0.75rem;
  flex-grow: 1;
}

.profile-skill {
  margin: 0.5rem;
  padding: 0.25rem 1rem 0.25rem 1rem;
  font-weight: 500;
  border-radius: 0.4rem;
  background-color: lightgray;
  box-shadow: 1px 1px 1px gray;
}

.profile-interest {
  margin: 0.5rem;
  padding: 0.25rem 1rem 0.25rem 1rem;
  font-weight: 500;
  border-radius: 0.4rem;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  box-shadow: 1px 1px 1px gray;
}

.required-materials {
  color: red;
  font-weight: 500;
}

.passport-scan {
  width: inherit;
  height: 160px;
  margin: 0.5rem;
}

.preview-container {
  max-width: 220px;

  .file-name {
    max-width: 200px;
  }
}

.pdf-viewer-container {
  border: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: lightgray;
  padding: 1px;
  margin: 8px 0;
}

.pdf-viewer {
  display: block;
  width: 180px;
}