$image-max-width:                 360px;
$image-min-width:                 360px;
$navbar-height:                   55px !default;
$footer-height:                   50px !default;

$summary-line-count: 7;
$summary-line-height: 20px;

.card {
  min-width: 800px;
  max-width: 1280px;
  padding: 0 0.75rem 0.75rem;
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height} - 2rem);
}

.table {
  margin-top: 0.5rem;
}

.td-no-border {
  padding: 0;
  border-top: none;
}

.business-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 275px;
  padding: 0 0 0.25rem 1.5rem;
}

.business-img {
  border: solid 1px gray;
  border-radius: 4px;
  max-width: $image-max-width;
  min-width: $image-min-width;
}

.name {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.location {
  font-size: 0.75rem;
  font-weight: 500;

  .location-icon {
    margin-right: 0.5rem;
  }
}

.summary {
  margin: 0.5rem 0;
  color: #29363d;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $summary-line-count; /* number of lines to show */
  line-height: $summary-line-height;        /* fallback */
  max-height: $summary-line-count * $summary-line-height;       /* fallback */
}

.business-price-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: lightgray;
  max-width: 180px;
  min-width: 160px;
  border-radius: 4px;
  padding: 0.25rem 3rem;

  .price-title {
    font-size: 0.85rem;
    font-weight: 500;
    color: #29363d;
  }

  .price {
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 1.25rem;
    padding-bottom: 0.25rem;
    color: red;
  }
}