<ng-template #template>
  <div style="overflow-y: initial !important; overflow-y: scroll; max-height:95%;">
    <div class="modal-header">
      <h5 class="modal-title">
        <ng-content select="[dialog-title]"></ng-content>
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" *ngIf="showHide" (click)="hide()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>

    <div class="modal-body">
      <ng-content select="[dialog-body]"></ng-content>
    </div>

    <div class="modal-footer">
      <ng-content select="[dialog-footer]"></ng-content>
    </div>
  </div>
</ng-template>
