.modal-container {
  overflow-y: initial !important;
  overflow-y: scroll;
  max-height: 95%;
}

.modal-header,
.modal-body,
.modal-footer {
  padding-left: 2rem;
  padding-right: 2rem;
}

.modal-dialog {
  overflow-y: initial !important;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.modal-body {
  max-height: 650px;
  overflow-y: auto;
}