<div class="alert alert-primary d-flex flex-row align-items-center mb-3" role="alert">
  <span *ngIf="total === 0">Your company haven't created any business yet.</span>
  <span *ngIf="total > 0">Your company have {{ total }} businesses.</span>
  <button class="btn btn-primary ml-4" (click)="createBusiness()">
    <span class="create-text">
      <i class="fa fa-plus mr-2" aria-hidden="true"></i>Create Business
    </span>
  </button>
</div>
<noe-business-list *ngIf="businesses.length > 0" [data]="data" (selectPage)="onPageSelect($event)">
</noe-business-list>


