:host(noe-my-businesses) {
  padding: 1rem 0.75rem 0rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.loading-placeholder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-content: center;

  .loading-prompt {
    font-size: 1rem;
    margin-bottom: 3rem;
  }
}