$navbar-height:                       55px !default;
$footer-height:                       50px !default;

.card {
  padding: 0 0.75rem;
  margin-top: 1rem;
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height} - 2.5rem);
}

table {
  table-layout: fixed;
}

td {
  width: 33%;
}

.profile-avatar {
  width: 140px;
  height: 140px;
  margin-bottom: 1.25rem;
}

.row-fluid {
  white-space: nowrap;
}
.row-fluid .col-lg-4 {
  display: inline-block;
}

.borderless td, .borderless th {
  border: none;
}

.profile-property {
  min-width: 160px;
}

.property-title {
  font-weight: 600;
  padding-right: 0.75rem;
}

.tab-heading {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
}
