$item-height: 130px;
$summary-line-count: 2;
$summary-line-height: 20px;

.item-container {
  min-height: $item-height;
}

.order-id {
  font-size: 0.75rem;
  color: rgb(66, 66, 66);
}

.customer-avatar-container {
  width: 100px;
  height: 100px;
}

a {
  text-decoration: none;
}

.customer-name {
  font-weight: 500;
}

.dash-line {
  border: none;
  border-top: 4px dotted rgb(66, 66, 66);
  color: white;
  background-color: white;
  height: 4px;
}

.business-avatar-container {
  height: $item-height;
  overflow: hidden;
  img {
    width: auto;
    height: 100%;
  }
}

.business-name {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $summary-line-count;  /* number of lines to show */
  line-height: $summary-line-height;        /* fallback */
  max-height: $summary-line-count * $summary-line-height;       /* fallback */
}

.order-price {
  font-size: 17px;
  font-weight: 500;
  color: red;
}

.order-status {
  font-size: 12px;
  font-weight: 500;
  padding: 0.3rem 0.5rem;
}

.vertical-divider {
  height: 160px;
  border: solid 0.5px rgb(200, 200, 200);
}

.badge-warning {
  color: white;
}
.btn-default, .badge-default {
  color: white;
  background-color: #999999;
}
.btn-default:hover {
  color: white;
  background-color: #858585;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: start;

  button {
    width: 80px;
  }
}