<div>
  <div class="top-margin"></div>

  {{ diagnostic }}

  <div class="card">
    <div class="card-block">
      <app-section [showAdd]="false" (onEdit)="onEditIntro()">
        <div class="row">
          <div class="col">
            <img class="rounded-circle profile-avatar mx-auto d-block" [src]="profile.avatar" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4 class="profile-name">{{ profile.firstname }} {{ profile.lastname }}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h6 class="current-grade">{{ profile.grade }} student</h6>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h6 class="current-school-name">{{ profile.school }}</h6>
          </div>
        </div>

        <hr class="mt-3">

        <div class="table-responsive">
          <table class="table borderless">
            <tbody>
              <tr>
                <td class="profile-property">
                  <span class="property-title">Email:</span>{{ profile.email }}
                </td>
                <td class="profile-property">
                  <span class="property-title">Phone:</span>{{ profile.phone }}
                </td>
                <td class="profile-property">
                  <span class="property-title">Applying:</span>{{ profile.applying }}
                </td>
              </tr>
              <tr>
                <td class="profile-property">
                  <span class="property-title">Birthday:</span>{{ profile.birthday | date:'shortDate' }}
                </td>
                <td class="profile-property">
                  <span class="property-title">Gender:</span>{{ profile.gender | capitalize }}
                </td>
                <td class="profile-property">
                  <span class="property-title">Country:</span>{{ profile.country }}
                </td>
              </tr>
              <tr>
                <td class="profile-property">
                  <span class="property-title">Annual budget:</span>${{ profile.budget }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <hr class="mt-3">

        <div class="row">
          <div class="col">
            <p>{{ profile.introduction }}</p>
          </div>
        </div>

        <!-- <p>
          <a class="show-more" data-toggle="collapse" href="#collapseMedia" aria-expanded="false" aria-controls="collapseMedia">
            <h6>Show more <i class="fa fa-chevron-down" aria-hidden="true"></i></h6>
          </a>
        </p> -->
        <!-- <div class="collapse" id="collapseMedia">
          <div style="overflow: auto">
            <div class="row-fluid">
                <div class="col-lg-4">media</div>
                <div class="col-lg-4">media</div>
                <div class="col-lg-4">media</div>
                <div class="col-lg-4">media</div>
                <div class="col-lg-4">media</div>
                <div class="col-lg-4">media</div>
                <div class="col-lg-4">media</div>
            </div>
          </div>
        </div> -->
      </app-section>
    </div>

    <intro-dialog #introDialog></intro-dialog>
  </div>

  <div class="card">
    <div class="card-block">
      <app-section [header]="'School preferred'" [showAdd]="false" (onEdit)="onEditSchoolPreferred()">
        <hr class="mt-3">

        <div class="table-responsive">
          <table class="table borderless">
            <tbody>
              <tr>
                <td class="profile-property">
                  <span class="property-title">Location:</span>{{ profile.preferredSchoolLocation }}
                </td>
                <td class="profile-property">
                  <span class="property-title">Type:</span>{{ profile.preferredSchoolType }}
                </td>
                <td class="profile-property">
                  <span class="property-title">Religion:</span>{{ profile.preferredReligion }}
                </td>
              </tr>
              <tr>
                <td class="profile-property">
                  <span class="property-title">Accommodation:</span>{{ profile.preferredAccommodation }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </app-section>
    </div>

    <school-preferred-dialog #schoolPreferredDialog></school-preferred-dialog>
  </div>

  <div class="card">
    <div class="card-block">
      <app-section [header]="'Skills'" [showAdd]="true" (onAdd)="onAddNewSkill()" (onEdit)="onEditSkills()">
        <hr class="mt-3">

        <div class="row">
          <div class="col-auto profile-skill" *ngFor="let skill of profile.skills">{{ skill }}</div>
          <div class="col-auto" *ngIf="!hasSkills">No skills data available.</div>
        </div>
      </app-section>
    </div>

    <skill-add-dialog #skillAddDialog></skill-add-dialog>
    <skill-edit-dialog #skillEditDialog></skill-edit-dialog>
  </div>

  <div class="card">
    <div class="card-block">
      <app-section [header]="'Interests'" [showAdd]="true" (onAdd)="onAddNewInterest()" (onEdit)="onEditInterests()">
        <hr class="mt-3">

        <div class="row">
          <div class="col-auto profile-interest" *ngFor="let interest of profile.interests">{{ interest }}</div>
          <div class="col-auto" *ngIf="!hasInterests">No interests data available.</div>
        </div>
      </app-section>

      <interest-add-dialog #interestAddDialog></interest-add-dialog>
      <interest-edit-dialog #interestEditDialog></interest-edit-dialog>
    </div>
  </div>

</div>