<div>
  <div class="top-margin"></div>

  <div class="card">
    <div class="card-block">
      <app-section [showAdd]="false" (onEdit)="onEditIntro()">
        <div class="row">
          <div class="col">
            <img class="rounded-circle profile-avatar mx-auto d-block" src="https://www.sideshowtoy.com/photo_902622_thumb.jpg"/>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4 class="profile-name">Bin Bo</h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h6 class="current-grade">Graduate Student</h6>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h6 class="current-school-name">Northeastern University</h6>
          </div>
        </div>

        <hr class="mt-3">

        <div class="row">
          <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ad, numquam, magnam nihil, necessitatibus minima fuga ab veniam harum animi doloribus sapiente recusandae illo eveniet in voluptatibus voluptate voluptatum deseruntLorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ad, numquam, magnam nihil, necessitatibus minima fuga ab veniam harum animi doloribus sapiente recusandae illo eveniet in voluptatibus voluptate voluptatum deserunt?</p>
          </div>
        </div>

        <p>
          <a class="show-more" data-toggle="collapse" href="#collapseMedia" aria-expanded="false" aria-controls="collapseMedia">
            <h6>Show more <i class="fa fa-chevron-down" aria-hidden="true"></i></h6>
          </a>
        </p>
        <div class="collapse" id="collapseMedia">
          <div style="overflow: auto">
            <div class="row-fluid">
                <div class="col-lg-4">media</div>
                <div class="col-lg-4">media</div>
                <div class="col-lg-4">media</div>
                <div class="col-lg-4">media</div>
                <div class="col-lg-4">media</div>
                <div class="col-lg-4">media</div>
                <div class="col-lg-4">media</div>
            </div>
          </div>
        </div>
      </app-section>
    </div>

    <intro-dialog #introDialog></intro-dialog>
  </div>



</div>

