.top-margin {
  margin-top: 2rem;
}

.card {
  padding: 0 1rem 0 1rem;
}

.profile-avatar {
  width: 140px;
  height: 140px;
}

.profile-avatar-background {
  width: 150px;
  height: 150px
}

.profile-name {
  text-align: center;
  padding: 1rem 0 0 0;
}

.current-grade {
  color: gray;
  text-align: center;
  padding: 0.25rem 0 0 0;
}

.current-school-name {
  color: gray;
  text-align: center;
  padding: 0.25rem 0 0 0;
}

.row-fluid{
  white-space: nowrap;
}
.row-fluid .col-lg-4 {
  display: inline-block;
}

.borderless td, .borderless th {
  border: none;
}

.intro-property {
  min-width: 100px;
}

.intro-property-title {
  font-weight: bold;
  padding-right: 1rem;
}

.show-more {
  text-align: center;
  text-decoration: none;
}