$blue:                              #20a8d8;
$navbar-height:                       55px !default;

.navbar {
  -webkit-box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.15);
}

#search {
  min-width: 96px;
}

.truncate {
  width: 9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-toggle {
  font-size: 1.3rem;
  color: gray;

  .badge {
    font-size: 0.6rem;
    font-weight: 400;
  }
}
.chat-toggle:hover {
  color: $blue;
}

.main-size {
  min-width: 800px;
  max-width: 1280px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  height: $navbar-height;

  .nav-item {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;

    .nav-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      font-size: 0.9rem;
      font-weight: 600;
    }

    .nav-link:hover {
      color: $blue;
    }

    .active-item {
      color: $blue;
      padding-top: 4px;
      border-bottom: 4px solid $blue;
    }
  }
}
