$white:                           #fff;
$gray-100:                        #f0f3f5;
$gray-200:                        #c2cfd6;
$gray-300:                        #a4b7c1;
$gray-400:                        #869fac;
$gray-500:                        #678898;
$gray-600:                        #536c79;
$gray-700:                        #3e515b;
$gray-800:                        #29363d;
$gray-900:                        #151b1e;
$black:                           #000 !default;
$blue:                            #20a8d8;
$navbar-height:                     55px !default;

.app-footer {
  position: static;
  padding-top: 0.75rem;
  min-width: 860px;

  ul {
    list-style-type: none;
  }

  .footer-menu-title {
    color: $blue;
    font-size: 1rem;
    font-weight: 600;
    height: 32px;
    margin-bottom: 0.5rem;
  }

  .fonter-menu {
    font-size: 0.8rem;
    height: 28px;

    > a {
      color: $gray-500;
      text-decoration: none;
    }

    > a:hover {
      color: $gray-700;
    }
  }

  .copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.6rem;
    color: $gray-900;
  }
}