$white:                           #fff;
$gray-100:                        #f0f3f5;
$gray-200:                        #c2cfd6;
$gray-300:                        #a4b7c1;
$gray-400:                        #869fac;
$gray-500:                        #678898;
$gray-600:                        #536c79;
$gray-700:                        #3e515b;
$gray-800:                        #29363d;
$gray-900:                        #151b1e;
$black:                           #000 !default;
$blue:                            #20a8d8;
$navbar-height:                     55px !default;

.navbar {
  -webkit-box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.15);
}

#search {
  min-width: 96px;
}

.truncate {
  width: 9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-toggle {
  font-size: 1.3rem;
  color: gray;

  &:hover {
    color: $blue;
  }

  .badge {
    min-width: 14px;
    min-height: 14px;
    border-radius: 50%;
    font-size: 0.6rem;
    font-weight: 400;
  }
}

.main-size {
  min-width: 860px;
  max-width: 1280px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  height: $navbar-height;

  .nav-item {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;

    .nav-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      font-size: 0.9rem;
      font-weight: 600;

      &:hover {
        color: $blue;
      }
    }

    .active-item {
      color: $blue;
      padding-top: 4px;
      border-bottom: 4px solid $blue;
    }
  }
}

.app-body {
  margin-bottom: 0;
}
