<div class="app-footer mx-0 px-4">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <ul>
            <li class="footer-menu-title">Information</li>
            <li class="fonter-menu">
              <a href>About</a>
            </li>
            <li class="fonter-menu">
              <a href>Terms & Conditions</a>
            </li>
            <li class="fonter-menu">
              <a href>Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li class="footer-menu-title">Work With Us</li>
            <li class="fonter-menu">
              <a [routerLink]="['/work-with-us']">Service Partners</a>
            </li>
            <li class="fonter-menu">
              <a [routerLink]="['/work-with-us']">Schools</a>
            </li>
            <li class="fonter-menu">
              <a href>Advertise</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li class="footer-menu-title">Support & Help</li>
            <li class="fonter-menu">
              <a href>FAQ</a>
            </li>
            <li class="fonter-menu">
              <a href>Blog</a>
            </li>
            <li class="fonter-menu">
              <a href>Feedback Forum</a>
            </li>
          </ul>
        </div>
      </div>
      <hr class="mt-3 mb-0">
      <div class="copyright">
        <div>© 2018 Network Of Education. All rights reserved.</div>
      </div>
    </div>
  </div>
</div>