$white:                           #fff;
$gray-100:                        #f0f3f5;
$gray-200:                        #c2cfd6;
$gray-300:                        #a4b7c1;
$gray-400:                        #869fac;
$gray-500:                        #678898;
$gray-600:                        #536c79;
$gray-700:                        #3e515b;
$gray-800:                        #29363d;
$gray-900:                        #151b1e;
$black:                           #000 !default;
$blue:                            #20a8d8;
$navbar-height:                     55px !default;

.navbar {
  -webkit-box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.15);
}

.main .container-fluid {
  padding: 0;
}

.truncate {
  width: 9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-toggle {
  font-size: 1.3rem;
  color: gray;

  &:hover {
    color: $blue;
  }

  .badge {
    min-width: 14px;
    min-height: 14px;
    border-radius: 50%;
    font-size: 0.6rem;
    font-weight: 400;
  }
}

.main-size {
  min-width: 960px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  height: $navbar-height;

  .nav-item {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;

    .nav-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      font-size: 0.9rem;
      font-weight: 600;

      &:hover {
        color: $blue;
      }
    }

    .active-item {
      color: $blue;
      padding-top: 4px;
      border-bottom: 4px solid $blue;
    }
  }
}

/* BUTTONS */
#sign-up-hint {
  font-size: 10px;
  margin: 0 0 0 0;
}

#sign-up-label {
  font-size: 13px;
  font-weight: bold;
  margin: 0 auto;
}

.sign-up-btn {
  background-color: transparent;
  border: 0px;
  margin: 4px 0;
  color: $gray-600;
  text-align: right;
  transition: 0.5s;
}

.sign-up-btn:hover,
.sign-up-btn:focus,
.sign-up-btn:active {
  background-color: rgb(230, 230, 230);
  color: $blue;
  transition: 0.5s;
}

.btn-lg {
  border: 0px;
  border-radius: 4px;
}

.log-in-btn {
  background-color: white;
  color: $blue;
  margin: 0px auto 0 4px;
  font-size: 13px;
  transition: 0.5s;
}

.log-in-btn:hover,
.log-in-btn:focus,
.log-in-btn:active {
  background-color: rgb(230, 230, 230);
  transition: 0.5s;
}

.app-body {
  margin-bottom: 0;
}