<header class="app-header nav navbar navbar-expand sticky-top">
  <ul class="navbar-nav navbar-expand">
    <a class="navbar-brand" href="#"></a>
    <li class="nav-item">
      <form action="" method="post" class="form-horizontal">
        <div class="form-group row m-0">
          <div class="col-md-12">
            <div class="input-group">
              <input type="text" id="search" name="search" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary"><i class="fa fa-search fa-lg"></i></button>
              </span>
            </div>
          </div>
        </div>
      </form>
    </li>
    <div class="nav-items">
      <li class="nav-item">
        <a class="nav-link nav-link-title" routerLinkActive="active-item" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-title" routerLinkActive="active-item" [routerLink]="['/services']">Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-title" routerLinkActive="active-item" [routerLink]="[profileLink()]">Profile</a>
      </li>
      <!-- <li class="nav-item" *ngIf="!roleIsStudent">
        <a class="nav-link nav-link-title" routerLinkActive="active-item" [routerLink]="['/students']">Student</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link nav-link-title" routerLinkActive="active-item" [routerLink]="['/about']">About</a>
      </li>
    </div>
  </ul>
  <ul class="navbar-nav navbar-expand ml-auto mr-sm-3">
    <li class="nav-item">
      <a href class="chat-toggle" (click)="toggleThreadList($event)" appAsideMenuToggler>
        <i class="fa fa-comments"></i><span *ngIf="messagesNotRead > 0" class="badge badge-danger">{{ messagesNotRead }}</span>
      </a>
    </li>
    <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
      <a href class="nav-link truncate dropdown-toggle" dropdownToggle (click)="false">
        <img [src]="profile.avatar" class="img-avatar" alt="user@gmail.com">
        <span class="d-sm-down-none">{{ username }}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-left"><strong>Account</strong></div>

        <!-- <a class="dropdown-item" [routerLink]="['/settings']"><i class="fa fa-wrench"></i>Settings</a> -->
        <a class="dropdown-item" [routerLink]="['/notifications']"><i class="fa fa-envelope-o"></i>Notifications</a>
        <a class="dropdown-item" href="#" (click)="signout($event)"><i class="fa fa-lock"></i>Logout</a>
      </div>
    </li>
  </ul>
</header>

<div class="app-body">
  <!-- Main content -->
  <main class="main">
    <div class="container-fluid main-size">
      <router-outlet></router-outlet>
    </div>
  </main>

  <aside class="aside-menu">
    <tabset>
      <tab>
        <ng-template tabHeading><i class="icon-list"></i></ng-template>
        <noe-thread-list></noe-thread-list>
      </tab>
    </tabset>
  </aside>
</div>

<noe-app-footer></noe-app-footer>

<noe-chatbox-list></noe-chatbox-list>