<div class="popup-box"
  [ngClass]="{ 'popup-box-minimized': !maximized }"
  [ngStyle]="{ 'right': rightOffset(), 'transition': '0.5s' }"
>
  <div class="popup-head">
    <div class="popup-head-left">{{ target.name }}</div>
    <div class="popup-head-right">
      <a href (click)="minimize($event)" *ngIf="maximized else minimized">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </a>
      <ng-template #minimized>
        <a href (click)="maximize($event)">
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
        </a>
      </ng-template>
      <a href class="ml-2" (click)="close($event)">&#10005;</a>
    </div>
    <div style="clear: both">
    </div>
  </div>
  <div #scrollMessages class="popup-messages" (scroll)="onScroll($event)">
    <div *ngIf="loading" class="popup-loading py-4">
      <div class="loading-prompt text-center">
        <i class='fa fa-spinner fa-spin mr-3'></i>Loading messages...
      </div>
    </div>
    <noe-chat-message *ngFor="let message of messages; let i = index"
      [index]="i"
      [message]="message"
      [jabber]="chooseJabber(message)"
      [isSentToMe]="isSentToMe(message)">
    </noe-chat-message>
  </div>
  <div class="popup-input">
    <input type="text"
      class="message-input px-1"
      placeholder="Write your message here..."
      (keydown.enter)="onEnter($event)"
      [(ngModel)]="inputText"
    />
    <button class="btn btn-primary btn-send" (click)="onEnter($event)">Send</button>
  </div>
</div>