$blue:                              #20a8d8;
$border-color:                      rgba(29, 49, 91, .3);

.popup-box {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 16px;
  height: 316px;
  width: 300px;
  margin-left: 1rem;
  background-color: rgb(237, 239, 244);
  border: 1px solid $border-color;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;

  -webkit-box-shadow: 4px 0 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 4px 0 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 0 4px 0px rgba(0, 0, 0, 0.15);

  transition: 0.25s;

  .popup-head {
    background-color: $blue;
    padding: 4px 12px;
    height: 29px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    clear: both;

    .popup-head-left {
      float: left;
    }

    .popup-head-right {
      float: right;

      > a {
        text-decoration: none;
        opacity: 0.75;
        color: white;
      }

      > a:hover {
        opacity: 1;
        color: white;
        transition: 0.5s;
      }
    }
  }

  .popup-loading {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-content: center;

    .loading-prompt {
      font-size: 0.7rem;
      color: $blue;
    }
  }

  .popup-messages {
    display: flex;
    flex-direction: column;
    height: 249px;
    overflow-y: scroll;
  }

  .popup-input {
    display: flex;
    flex-direction: row;
    height: 38px;
    border-top: 0.5px solid $border-color;
    padding: 0.3rem 0.3rem;

    .message-input {
      flex-grow: 1;
      font-size: 0.8rem;
    }

    .btn-send {
      margin-left: 0.3rem;
      font-size: 0.8rem;
      line-height: 100%
    }
  }
}

.popup-box-minimized {
  bottom: -287px;
  transition: 0.25s;
}
