.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .item {
    width: 33%;
  }

  @media (min-width: 1200px) {
    .item {
      width: 25%;
    }
  }
}

.grid:after {
  content: "";
  flex: auto;
}