.card {
  padding: 0.5rem 0.5rem 0;
  margin: 12px 0;
}

#carouselMain {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  overflow: hidden;
}

.loading-placeholder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-content: center;

  .loading-prompt {
    font-size: 1rem;
    margin: 2.5rem;
  }
}