.main {
  background: url("../../../assets/img/auth_cover.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.forgot-password {
  min-width: 8rem;
  margin: 0 0.25rem;
  text-align: left;
}
