.main {
  background: url("../../../assets/img/auth_cover.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 51em;
}

.min-input-text {
  min-width: 12rem;
  margin-right: 4px;
}

.min-forgot-password {
  min-width: 10rem;
  margin-left: 1rem;
  text-align: left;
}

.card {
  width: 400px;
  margin: 3.8rem 0 0 0;
}

img.center {
  display: block;
  margin: 0 auto;
}