<div class="top-margin"></div>

<div class="card">
  <div class="card-block">
    <noe-section class="col" [header]="'Edit Business Info'" [showAdd]="false" (onEdit)="onEditBusinessInfo()">
      <hr class="mt-3">
      <table class="table">
        <tbody>
          <tr>
            <td width="40%" class="td-no-border">
              <img class="business-img mx-auto d-block" [src]="model.avatar"/>
            </td>
            <td width="60%" class="td-no-border business-info">
              <h4>{{ model.name }}</h4>
              <div class="location"><i class="fa fa-location-arrow" aria-hidden="true"></i>
                {{ location }}</div>
              <div class="summary">{{ model.summary }}</div>
              <div class="business-price-container">
                <span class="price-title">Price</span>
                <span class="price">${{ model.price }}</span>
              </div>
              <button class="btn btn-primary btn-book">Book</button>
            </td>
          </tr>
        </tbody>
      </table>
    </noe-section>

    <div class="row">
      <noe-section class="col" [showAdd]="false" (onEdit)="onEditCustomContent()">
        <ckeditor
          [(ngModel)]="model.content"
          [readonly]="false"
          (change)="onChange($event)"
          (ready)="onReady($event)"
          (focus)="onFocus($event)"
          (blur)="onBlur($event)"
          debounce="500">
        </ckeditor>
        <div [innerHTML]="model.content | safeHtml"></div>
      </noe-section>
    </div>
  </div>
</div>