<div class="row header">
  <p *ngIf="data.length === 0" class="header-text col">
    Your company hasn't created any business yet.
  </p>
  <p *ngIf="data.length > 0" class="header-text col">
    Your company has {{ data.length }} businesses.
  </p>
  <button class="btn btn-outline-primary ml-auto col-auto pull-right"
          (click)="createBusiness()">
    <span class="create-text">
      <i class="fa fa-plus create-plus" aria-hidden="true"></i>Create
    </span>
  </button>
</div>
<div class="grid">
  <noe-business-item
          class="item"
          *ngFor="let business of data; let i = index;"
          [item]="business">
  </noe-business-item>
</div>
