<div class="row header">
  <p *ngIf="businesses.length === 0" class="header-text col">
    Your company hasn't created any business yet.
  </p>
  <p *ngIf="businesses.length > 0" class="header-text col">
    Your company has {{ businesses.length }} businesses.
  </p>
  <button class="btn btn-outline-primary ml-auto col-auto pull-right"
          (click)="createBusiness()">
    <span class="create-text">
      <i class="fa fa-plus create-plus" aria-hidden="true"></i>Create
    </span>
  </button>
</div>
<div class="listitems">
  <noe-business-item *ngFor="let business of businesses; let i = index;"
    [item]="business" [showDivider]="showDivider(i)">
  </noe-business-item>
</div>
