<div class="card">
  <div class="card-block">
    <noe-section [header]="'Business Info'" [showAdd]="false" (onEdit)="onEditBusinessInfo()">
      <hr class="mt-2 mb-3">
      <table class="table mb-5">
        <tbody>
          <tr>
            <td class="w-32 td-no-border">
              <img class="business-img" [src]="model.avatar"/>
            </td>
            <td class="w-68 td-no-border business-info">
              <div>
                <div class="name">{{ name }}</div>
                <div *ngIf="location.length > 0" class="location"><i class="fa fa-location-arrow location-icon" aria-hidden="true"></i>{{ location }}</div>
              </div>
              <div class="summary">{{ summary }}</div>
              <div class="d-flex flex-row align-items-center">
                <div class="business-price-container">
                  <span class="price-title">Price</span>
                  <span class="price">{{ price }}</span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <noe-business-info-edit-dialog #infoEditDialog></noe-business-info-edit-dialog>
    </noe-section>

    <div class="row mt-3">
      <noe-section class="col" [header]="'Business Content'" [showAdd]="false" [showEdit]="false">
        <hr class="mt-2 mb-3">
        <div *ngIf="!editingContent" class="alert alert-primary edit-content-alert" role="alert">
          <span>Customize your business content!</span>
          <button class="btn btn-primary ml-3 btn-edit-content" (click)="onEditBusinessContent()">
            Edit Content
          </button>
        </div>
        <div *ngIf="editingContent" class="alert alert-primary edit-content-alert" role="alert">
          <span>Save your customized content!</span>
          <button class="btn btn-primary ml-3" (click)="onSaveBusinessContent()">
            Save Content
          </button>
        </div>
        <ckeditor *ngIf="editingContent"
          class="pb-3"
          [(ngModel)]="content"
          [config]="{ height: 500 }"
          [readonly]="false"
          (change)="onChange($event)"
          (ready)="onReady($event)"
          (focus)="onFocus($event)"
          (blur)="onBlur($event)"
          debounce="500">
        </ckeditor>
        <div *ngIf="!editingContent" [innerHTML]="content | safeHtml">
        </div>
      </noe-section>
    </div>

    <div class="flex-grow d-flex justify-content-center align-items-center">
      <span *ngIf="contentEmpty && !editingContent" class="empty-content py-5">
        You haven't provided any details about your business.
      </span>
    </div>

    <div>
      <hr class="mt-3">
      <div [ngSwitch]="status">
        <div *ngSwitchCase="'draft'">
          <button class="btn btn-success ml-3 pull-right" (click)="activate()">Activate</button>
          <button class="btn btn-primary pull-right" [routerLink]="['preview']">Preview</button>
        </div>
        <div *ngSwitchCase="'active'">
          <button class="btn btn-warning pull-right" (click)="deactivate()">Deactivate</button>
        </div>
        <div *ngSwitchCase="'inactive'">
          <button class="btn btn-success ml-3 pull-right" (click)="activate()">Activate</button>
          <button class="btn btn-primary pull-right" [routerLink]="['preview']">Preview</button>
        </div>
      </div>

    </div>
  </div>
</div>