.item-avatar {
  border: solid 1px gray;
  width: 248px;
  height: 180px;
}

.item-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  width: 248px;
}

.item-info-container {
  border: solid 1px gray;
  border-top: none;
  padding: 0.25rem 0.75rem;
}

.item-price {
  font-size: 1rem;
  color: red;
  padding: 0.25rem 0 0;
}

.item-orders-count {
  color: #495057;
}

.item-name {
  font-weight: 500;
  text-decoration: none;
  padding: 0.25rem 0 0.5rem 0;
}

// $breakpoint-960: 960px;
// $breakpoint-1140: 1140px;
// $breakpoint-1280: 1280px;

// @media (max-width: 1140px) {
//   .item-avatar {
//     width: 180px;
//     height: 135px;
//   }

//   .item-container {
//     width: 180px;
//   }
// }

// @media (min-width: 1141px) {
//   .item-avatar {
//     width: 240px;
//     height: 180px;
//   }

//   .item-container {
//     width: 240px;
//   }
// }