$avatar-width: 200px;
$item-min-height: 150px;
$summary-line-count: 5;
$summary-line-height: 20px;

.item-container {
  min-height: $item-min-height;
}

.avatar-container {
  width: $avatar-width;
  height: 150px;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}

.business-name {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.business-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $summary-line-count; /* number of lines to show */
  line-height: $summary-line-height;        /* fallback */
  max-height: $summary-line-count * $summary-line-height;       /* fallback */
}

.business-price {
  font-size: 17px;
  font-weight: 500;
  color: red;
}

.business-price {
  font-size: 17px;
  font-weight: 500;
  color: red;
}

.business-status {
  font-size: 12px;
  font-weight: 500;
  padding: 0.3rem 0.5rem;
  margin-left: 1.5rem;
}

.badge-warning {
  color: white;
}

.badge-default {
  color: white;
  background-color: #999999;
}

.vertical-divider {
  height: 200px;
  border: solid 0.5px rgb(200, 200, 200);
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: start;

  button {
    width: 80px;
  }
}