.card-block {
  display: flex;
  flex-direction: column;

  .flex-grow {
    flex-grow: 1;
  }

  .empty-content {
    font-size: 1rem;
  }
}

.btn-order {
  font-size: 1.1rem;
  margin-left: 1rem;
  padding: 0.75rem;
  min-width: 104px;
}

.edit-content-alert {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 380px;
}
