.dialog {
  border-width: 0;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

#applying-file-input {
  display: none;
}

td {
  vertical-align: middle;
}

.remove-btn {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.applying-file-link {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
