<noe-dialog class="dialog" #dialog [staticModal]="staticModal" [large]="false">
  <div dialog-title>
    Edit skills
  </div>
  <div dialog-body>
    <div class="row">
      <div class="col-auto profile-skill" *ngFor="let skill of skills">
        {{ skill }}
        <a class="remove-btn" href (click)="removeSkill($event, skill)">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-auto" *ngIf="skills.length === 0">No skills data available.</div>
    </div>
  </div>
  <div dialog-footer>
    <button class="btn btn-primary" [disabled]="!edited" (click)="onSave()">Save</button>
  </div>
</noe-dialog>